# Translations
*.mo

# Editor temporaries
*~
*.db

# OS
.DS_Store

# IDE
/.idea

# Virtualenv
/env
/venv

# Cache
.cache
__pycache__

# Unit test / coverage reports
.coverage
.tox

# Packages
*.egg
*.egg-info
*build

bin
dist
eggs
parts
sdist
var
