# Translations
*.mo

# Editor temporaries
*~
*.db

# Cache
__pycache__

# Unit test / coverage reports
.coverage
.tox

# Packages
.cache
*.egg
*.egg-info
dist
*build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# IDE
/.idea

# Virtualenv
/env
/venv

# Installer logs
pip-log.txt
